.produc-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 360px;
  width: 200px;
  margin: 50px;
  background: #ffff;
  //   border: 2px solid white;
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.item-title {
  h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    height: 60px;
    text-align: center;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.item-img {
  width: 200px;
  height: 200px;
  // background-image: url(../image/apple.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
}
.btn {
  height: 60px;
  background: rgb(31, 30, 30);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background: rgb(75, 75, 75);
  cursor: pointer;
}
.item-kg {
  height: 16px;
  h4 {
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
}
.item-money {
  height: 26px;
  h5 {
    font-size: 20px;
  }
}
img {
  width: 200px;
  height: 200px;
}
